/* Import Lora and Roboto Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,500;1,600&family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  background: #011832;
  color: #F2F6F7;
  font-family: 'Lora', serif;
  font-size: 20px;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 5rem;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h2 {
  font-family: Roboto;
  font-size: 39px;
  line-height: 46px;
  /* identical to box height */
  letter-spacing: 0.1em;
}
nav {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 40px 0px;
  letter-spacing: .2em;
  position: absolute;
}
nav .active {
  font-weight: 700;
  opacity: 1;
  color: #5465FF;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline;
  margin-right: 30px;
  opacity: 0.3;
  cursor: pointer;
}
nav li:hover {
  opacity: 1;
}

#jrlherm-word {
  color: #5465FF;
}
#develop-word {
  font-family: 'Roboto Mono', monospace;
}
#design-word {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-style: italic;
}

.wrap-100vh {
  height: 100vh;
}
.wrap-80vh {
  height: 70vh;
}

.project h1 {
  line-height: 1.5em;
}

.projects-number {
  font-size: 124px;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1em;
  opacity: 0.3;
  z-index: 2;
}

.project-plastroc .projects-number {
  margin-top: -90px;
  margin-left: -55px;
}

.project-cocktails .projects-number {
  margin-top: -90px;
  margin-right: -55px;
  position: inherit;
}

.project p {
  font-style: italic;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.bg-spot {
  background: radial-gradient(43.9% 43.9% at 50% 50%, rgba(196, 196, 196, 0.15) 0%, rgba(196, 196, 196, 0) 100%);
}
.project-plastroc .bg-spot {
  width: 600px;
  height: 600px;
  margin-top: -600px;
  margin-left: 320px;
}

.project-cocktails .bg-spot {
  width: 600px;
  height: 600px;
  margin-top: -600px;
  margin-left: 220px;
}

.project-cocktails img {
  z-index: -1;
}
.project a {
  text-decoration: none;
  color: #F2F6F7;
  padding: 0;
}

.project h1::after {
  content: '';
  width: 0px;
  height: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #5465FF;
  display: block;
  transition-duration: .15s;
  border-radius: 3px;
}
.project-cocktails h1::after {
  margin-left: auto;
  margin-right: 7px;
}
.project a:hover h1::after {
  width: 50px;
}
.project img {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border-radius: 8px;
  box-shadow: rgba(23, 23, 43, 0.575) 0px 7px 29px 0px;
  padding: 0;
}

.leave {
  transform: rotateX(0) rotateY(0) !important;
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1) !important;
  transition-duration: 1.5s;

}
